[submodule "qmlcore-tv"]
	path = qmlcore-tv
	url = https://github.com/pureqml/qmlcore-tv.git
[submodule "qmlcore"]
	path = qmlcore
	url = https://github.com/pureqml/qmlcore.git
[submodule "controls"]
	path = controls
	url = https://github.com/pureqml/controls.git
[submodule "smart-tv-deployer"]
	path = smart-tv-deployer
	url = https://github.com/comrat/smart-tv-deployer.git
